//重置padding和margin为0
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, div, dl, dt, dd, ul, ol, li, pre, figcaption, figure, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0
}
//清除列表的样式
ul, ol, li {
  list-style: none
}
//清除a标签的下划线
a {
  text-decoration: none
}
//设置表单分组元素和图片元素的边框为0
fieldset, img {
  border: 0
}
//重置表格的边框合并为一条边框，表格边框间隙为0
table {
  border-collapse: collapse;
  border-spacing: 0
}
//设置水平线的高度
hr {
  border: 0;
  height: 1px
}
//设置所有元素盒模型宽度即为设置宽度，padding和border影响实际宽度
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//清除ios中input的默认样式
input, select,
button {
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
//设置body的默认字体和字体大小
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  font-size: 1.2rem;
}
//设置ios中input和select等元素点击时背景色
body, html {
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

$base: 20; //设置基准：640跟随auto20.js改变
/*margin*/
.mgauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

//生成默认的padding 和margin 以及padding/margin(top,bottom,left,right)的5-50px中5的倍数的class
$box-list: (pd, padding), (pdt, padding-top), (pdb, padding-bottom), (pdl, padding-left), (pdr, padding-right), (mg, margin), (mgt, margin-top), (mgb, margin-bottom), (mgl, margin-left), (mgr, margin-right);
@each $box, $name in $box-list {
  @for $i from 5 through 50 {
    @if ($i % 5 ==0) {
      .#{$box}-#{$i} {
        #{$name}: ($i/$base)+rem;
      }
    }
  }
}

//生成默认的字体大小，font-size:10-50px;以及font-size:50-100中10的倍数class
@for $i from 10 through 100 {
  @if ($i<50) {
    .fs-#{$i} {
      font-size: ($i/$base)+rem;
    }
  } @else {
    @if ($i%10==0) {
      .fs-#{$i} {
        font-size: ($i/$base)+rem;
      }
    }
  }
}

//生成默认的6个百分比宽度class
@for $i from 1 through 6 {
  .col-#{$i} {
    width: unquote((100/$i)+"%");
  }
}

.ls-n {
  letter-spacing: normal
}

.fstyle-i {
  font-style: italic
}

.fstyle-n {
  font-style: normal
}

.fstyle-o {
  font-style: oblique
}

.fw-300 {
  font-weight: 300
}

.fw-400 {
  font-weight: 400
}

.fw-500 {
  font-weight: 500
}

.fw-600 {
  font-weight: 600
}

.ve-t {
  vertical-align: top
}

.ve-m {
  vertical-align: middle
}

.ve-b {
  vertical-align: bottom
}

.dp-b {
  display: block
}

.dp-ib {
  display: inline-block
}

.dp-n {
  display: none
}

.dp-t {
  display: table
}

.dp-tc {
  display: table-cell
}

.dp-tr {
  display: table-row
}

.dp-f {
  display: flex;
  display: -webkit-flex
}

.dp-if {
  display: inline-flex
}

.dp-it {
  display: inline-table
}

.dp-li {
  display: list-item
}

/*清除浮动*/
%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    font: 0/0 a;
  }
  &:after {
    clear: both;
  }
}

.cl {
  @extend %clearfix
}

.c-fff {
  color: #ffffff;
}
.fl {
  float: left
}

.fr {
  float: right
}

.fn {
  float: none
}

.ps-f {
  position: fixed
}

.ps-a {
  position: absolute
}

.ps-r {
  position: relative
}

.tc {
  text-align: center
}

.tl {
  text-align: left
}

.tr {
  text-align: right
}

.tj {
  text-align: justify
}

.z-hide {
  display: none;
}

.z-show {
  display: block;
}
