/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

em {
  font-style: normal;
}

/* 重置列表元素 */
ul, ol {
  list-style: none;
}

/* 重置文本格式元素 */
a {
  text-decoration: none;
}

img {
  border: none;
}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置 hr */
hr {
  border: none;
  height: 1px;
}

//设置所有元素盒模型宽度即为设置宽度，padding和border影响实际宽度
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//清除ios中input的默认样式
input, select,
button, textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'webfont';
  src: url('//at.alicdn.com/t/djnq6u8bq1bawcdi.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

//设置body的默认字体和字体大小
body {
  font-family: "webfont", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  line-height: 1;
  -webkit-overflow-scrolling: touch;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

//设置输入框placeholder样式
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #a2a2a2;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #a2a2a2;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #a2a2a2;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a2a2a2;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #a2a2a2;
}

$base: 20; //设置基准：640跟随auto20.js改变
/*margin*/
.mgauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

//生成默认的padding 和margin 以及padding/margin(top,bottom,left,right)的5-50px中5的倍数的class
$box-list: (pd, padding), (pdt, padding-top), (pdb, padding-bottom), (pdl, padding-left), (pdr, padding-right), (mg, margin), (mgt, margin-top), (mgb, margin-bottom), (mgl, margin-left), (mgr, margin-right);
@each $box, $name in $box-list {
  @for $i from 5 through 50 {
    @if ($i % 5 ==0) {
      .#{$box}-#{$i} {
        #{$name}: ($i/$base)+rem;
      }
    }
  }
}

//生成默认的字体大小，fonts-size:10-50px;以及font-size:50-100中10的倍数class
@for $i from 10 through 100 {
  @if ($i<50) {
    .fs-#{$i} {
      font-size: ($i/$base)+rem;
    }
  } @else {
    @if ($i%10==0) {
      .fs-#{$i} {
        font-size: ($i/$base)+rem;
      }
    }
  }
}

//生成默认的6个百分比宽度class
@for $i from 1 through 6 {
  .col-#{$i} {
    width: unquote((100/$i)+"%");
  }
}

.ls-n {
  letter-spacing: normal
}

.fstyle-i {
  font-style: italic
}

.fstyle-n {
  font-style: normal
}

.fstyle-o {
  font-style: oblique
}

.fw-300 {
  font-weight: 300
}

.fw-400 {
  font-weight: 400
}

.fw-500 {
  font-weight: 500
}

.fw-600 {
  font-weight: 600
}

.ve-t {
  vertical-align: top
}

.ve-m {
  vertical-align: middle
}

.ve-b {
  vertical-align: bottom
}

.dp-b {
  display: block
}

.dp-ib {
  display: inline-block
}

.dp-n {
  display: none
}

.dp-t {
  display: table
}

.dp-tc {
  display: table-cell
}

.dp-tr {
  display: table-row
}

.dp-f {
  display: flex;
  display: -webkit-flex
}

.dp-if {
  display: inline-flex
}

.dp-it {
  display: inline-table
}

.dp-li {
  display: list-item
}

/*清除浮动*/
%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    font: 0/0 a;
  }
  &:after {
    clear: both;
  }
}

.cl {
  @extend %clearfix
}

.c-fff {
  color: #ffffff;
}

.fl {
  float: left
}

.fr {
  float: right
}

.fn {
  float: none
}

.ps-f {
  position: fixed
}

.ps-a {
  position: absolute
}

.ps-r {
  position: relative
}

.tc {
  text-align: center
}

.tl {
  text-align: left
}

.tr {
  text-align: right
}

.tj {
  text-align: justify
}

.z-hide {
  display: none;
}

.z-show {
  display: block;
}
