.handle-icon {
  height: 1.8rem;
  display: inline-block;
  color: #999999;
  margin-left: 4rem;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  &.icon-star::before {
    content: '';
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    left: -2rem;
    display: inline-block;
    background-image: url("./assets/img/star-hui.png");
    background-size: cover;
  }
  &.icon-comment::before {
    content: '';
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    left: -2rem;
    display: inline-block;
    background-image: url("./assets/img/comment-hui.png");
    background-size: cover;
  }
  &.icon-star.fly-active::before {
    content: '';
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    left: -2rem;
    display: inline-block;
    background-image: url("./assets/img/star-orange.png");
    background-size: cover;
  }
  &.icon-comment.fly-active::before {
    content: '';
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    left: -2rem;
    display: inline-block;
    background-image: url("./assets/img/comment-orange.png");
    background-size: cover;
  }
}

.fly-select {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #d2d2d2;
  border-radius: .2rem;
  outline: none;
  display: inline-block;
  margin: 0.2rem 0;
}

.mint-cell-allow-right::after {
  border: solid 0.15rem #c8c8cd;
  border-bottom-width: 0;
  border-left-width: 0;
  width: .8rem;
  height: .8rem;
  right: 1rem;
  transform: translateY(-50%) rotate(45deg);
}

#app {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  .mint-tabbar{
    .mint-tab-item{
      padding: 0.25rem 0;
    }

  }
  .main {
    width: 100%;
    margin-top: 40px;
    padding: 0.5rem;
    margin-bottom: 2.5rem;
  }
  .login {
    text-align: center;
    height: 100%;
    padding: 40% 10% 0;
    .el-input {
      margin-bottom:1.5rem;
    }
    .el-button {
      width: 100%;
    }
  }
  .head-nav {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
    .mu-appbar {
      height: 2.4rem;
      overflow: hidden;
      .mu-appbar-title {
        font-size: 0.8rem;
        line-height: 2.4rem;
        height: 2.4rem;
      }
      .left i.mu-icon {
        font-size: 1.75rem;
      }
      .material-icons {
        line-height: 1.25rem;

      }
    }
  }
  .imgs {
    .mu-paper {
      margin-bottom: 0.5rem;
    }
    p {
      padding: 0.5rem;
      margin: 0px;
      color: #666;
    }
    img {
      width: 100%;
      vertical-align: top;
    }
  }
  .news {
    .mu-paper {
      margin-bottom: 0.5rem;
    }
    p {
      margin: 0px;
      padding: 0.5rem;
    }
    img {
      width: 100%;
    }
  }
  .today {
    .mu-paper {
      margin-bottom: 0.5rem;
    }
    h3, p {
      margin: 0px;
      padding: 0.5rem 0.5rem 0;
    }
    .imgbox {
      text-align: center;
      margin-top: 0.5rem;
      img {
        vertical-align: text-top;
        margin-bottom: 0.5rem;
        max-width: 100%;
      }
    }
  }
  .jokelist {
    .mu-paper {
      position: relative;
    }
    i {
      position: absolute;
      right: 0.25rem;
      top: 0.25rem;
    }
  }
  .addJoke {
    .mu-text-field {
      width: 100%;
    }
  }
}

html {
  height: 100%;
  body {
    height: 100%;
    #app {
      height: 100%;
    }
  }
}