
@font-face {font-family: "Linyer";
  src: url(./fonts/iconfont.woff?t=1496288277303) format('woff'), /* chrome, firefox */
  url(./fonts/iconfont.ttf?t=1496288277303) format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url(./fonts/iconfont.svg?t=1496288277303#iconfont) format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"Linyer" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before { content: "\e610"; }

.icon-info:before { content: "\e604"; }

.icon-tel:before { content: "\e612"; }

.icon-location:before { content: "\e605"; }

.icon-close2:before { content: "\e632"; }

.icon-more:before { content: "\e61b"; }

.icon-search:before { content: "\e66b"; }

.icon-image:before { content: "\e62c"; }

.icon-star:before { content: "\e611"; }

.icon-user:before { content: "\e647"; }

.icon-password:before { content: "\e61d"; }

.icon-home:before { content: "\e62d"; }

.icon-gear1:before { content: "\e653"; }

.icon-edit:before { content: "\e616"; }

.icon-chat2:before { content: "\e654"; }

.icon-arrowdown:before { content: "\e600"; }

.icon-arrowright:before { content: "\e601"; }

.icon-arrowleft:before { content: "\e602"; }

.icon-arrowup:before { content: "\e603"; }

.icon-undo:before { content: "\e61c"; }

.icon-code1:before { content: "\e67a"; }

.icon-arrowthinup:before { content: "\e628"; }

.icon-arrowthindown:before { content: "\e629"; }

.icon-arrowthinleft:before { content: "\e62a"; }

.icon-arrowthinright:before { content: "\e62b"; }

.icon-redo:before { content: "\e725"; }

.icon-laba:before { content: "\e60e"; }

.icon-bar:before { content: "\e6c6"; }

.icon-zan-ok:before { content: "\e617"; }

.icon-refresh:before { content: "\e89d"; }

